@font-face {
  font-family: 'Noto_Serif';
  src: url('assets/fonts/Noto_Serif_TC/NotoSerifTC-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #241c1c;
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Noto_Serif';
  transition: background-color 0.3s ease, color 0.3s ease;
}